<h4>Hi!</h4>

<p>Please sign in to access the CMS.</p>

<EditForm Model=@Config OnValidSubmit=HandleSubmit>
	<InputNumber @bind-Value=Config.NumberOfKeyVaults />

	<hr />

	<button class="btn btn-primary">Log in</button>
</EditForm>

<a class="btn btn-primary" href="/authentication/login">Login via AD</a>
