@inherits BasePropertyEditor

<div class="input-group">

    <div class="input-group-prepend">
        @if (CanDemote == true)
        {
            <button class="btn btn-light" @onclick=DemoteAsync disabled=@(DangerModeProvider.IsEnabled == false)>
                @if (IsDoing == Action.Demoting)
                {
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <Icon Name="DoubleChevronLeft8" />
                }
            </button>
        }
        else if (CanDemote == false)
        {
            <button class="btn btn-light" disabled>
                <Icon Name="DoubleChevronLeft8" />
            </button>
        }
    </div>

    <input value=@GetValue()
           @oninput=@(args => SetValue(((string?)args.Value) ?? ""))
           disabled=@IsEncrypted
           placeholder=@Placeholder
           class="form-control @(CssHelper.GetValidationClass(State)) @(_latestEditorIdToCopy == _editorId ? "last-to-copy" : "")" />

    <div class="input-group-append">

        @if (IsEncrypted)
        {
            <button class="btn btn-light" @onclick=UnlockAsync>
                @if (IsDoing == Action.Unlocking)
                {
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <Icon Name="Unlock" />
                }
            </button>
        }
        else if (IsDecrypted && !IsModified)
        {
            <button class="btn btn-light" @onclick=Lock>
                <Icon Name="Lock" />
            </button>
        }
        else
        {
            <button class="btn btn-light" @onclick=SaveAsync>
                @if (IsDoing == Action.Saving)
                {
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <Icon Name="Save" />
                }
            </button>
        }

        <button class="btn btn-light" @onclick=CopyToClipboardAsync>
            @if (IsDoing == Action.Copying)
            {
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
            else
            {
                <Icon Name="ClipboardList" />
            }
        </button>

        <button class="btn btn-danger" @onclick=DeleteAsync disabled=@(DangerModeProvider.IsEnabled == false)>
            @if (IsDoing == Action.Deleting)
            {
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
            else
            {
                <Icon Name="Delete" />
            }
        </button>

        @if (CanPromote == true)
        {
            <button class="btn btn-light" @onclick=PromoteAsync disabled=@(DangerModeProvider.IsEnabled == false)>
                @if (IsDoing == Action.Promoting)
                {
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <Icon Name="DoubleChevronRight8" />
                }
            </button>
        }
        else if (CanPromote == false)
        {
            <button class="btn btn-light" disabled>
                <Icon Name="DoubleChevronRight8" />
            </button>
        }

    </div>
</div>
