@inherits BasePropertyEditor

<div class="input-group">

    <div class="input-group-prepend">
        <button class="btn btn-light" @onclick=CopyAsync>
            <Icon Name="Copy" />
        </button>
    </div>

    @if (EditContext.EntityState == EntityState.IsNew)
    {
        <input value=@GetValueAsString()
               @oninput=@(args => ((IFullPropertyMetadata)Property).Setter(Entity, ((string?)args.Value) ?? ""))
               class="form-control" />
    }
    else
    {
        <input value=@GetValueAsString()
           class="form-control"
           readonly />
    }
</div>