@inherits BasePropertyEditor
@inject SecretClientsProvider SecretClientsProvider

<div class="input-group">

    <div class="input-group-prepend">
        @if (CanDemote)
        {
            <button class="btn btn-light" @onclick=DemoteAsync>
                <Icon Name="DoubleChevronLeft8" />
            </button>
        }
    </div>

    <input value=@GetValue()
           @oninput=@(args => SetValue(((string?)args.Value) ?? ""))
           disabled=@IsEncrypted
           placeholder=@Placeholder
           class="form-control @(CssHelper.GetValidationClass(State))" />

    <div class="input-group-append">

        @if (IsEncrypted)
        {
            <button class="btn btn-light" @onclick=UnlockAsync>
                <Icon Name="Unlock" />
            </button>
        }
        else if (IsDecrypted && !IsModified)
        {
            <button class="btn btn-light" @onclick=Lock>
                <Icon Name="Lock" />
            </button>
        }
        else
        {
            <button class="btn btn-light" @onclick=SaveAsync>
                <Icon Name="Save" />
            </button>
        }
        
        <button class="btn btn-light" @onclick=CopyToClipboardAsync>
            <Icon Name="ClipboardList" />
        </button>

        <button class="btn btn-danger" @onclick=DeleteAsync>
            <Icon Name="Delete" />
        </button>

        @if (CanPromote)
        {
            <button class="btn btn-light" @onclick=PromoteAsync>
                <Icon Name="DoubleChevronRight8" />
            </button>
        }

    </div>
</div>
